.cansee {
  animation: see 0.3s ease-in-out;
  @keyframes see {
    0% {
      opacity: 0.7;
      transform: scale(90%);
    }
  }
}

.homepage {
  width: 100vw;
  height: 100vh;
  background-color: rgb(252, 252, 252);
  overflow-y: scroll;
  overflow-x: hidden;
  &-head {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-logo {
      width: 20%;
      height: 100%;
      color: rgb(69, 69, 69);
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;
    }
    &-login {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        width: 30%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          width: 100%;
          height: 100%;
          border-radius: 0.5rem;
          color: #fff;
          font-size: 17px;
        }
      }
    }
    .list-wrapper {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &-list {
      //   width: 4rem;
      padding: 0.5rem 0.5rem;
      color: rgb(69, 69, 69);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: rgb(232, 232, 232);
      }
    }
  }
  &-content {
    width: 100%;
    height: 100%;
    .sticky {
      width: 100%;
      &-wrapper1 {
        width: 100%;
        height: 2500px;
        &-main {
          width: 98%;
          height: 100vh;
          margin: 0 auto;
          border-radius: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: linear-gradient(
            to left bottom,
            #acb5ff,
            #e5e6fd,
            #b6b8e9,
            #e3c0a4
          );
          // background-color: #f7d58f;
          position: sticky;
          top: 0;
          &-title {
            height: 3rem;
            margin-top: -5rem;
            transition: all 0.3s;
            overflow: hidden;
            p {
              margin-top: 1rem;
              color: rgb(49, 49, 49);
              font-size: 36px;
              font-weight: 600;
              letter-spacing: 4px;
            }
          }
          .wrapper1 {
            &-center {
              width: 40%;
              height: 70%;
              border-radius: 0.5rem;
              background: linear-gradient(to left bottom, #a9c2ff,#e8f2fa);
              position: relative;
              transform: translateY(30%);
              transition: all 0.3s;
              &-slide {
                width: 48%;
                height: 48%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                border-radius: 0.5rem;
                transition: all 0.3s;
                position: absolute;
                border: 1px solid #fff;
                &-title {
                  color: rgb(255, 255, 255);
                  font-size: 20px;
                  letter-spacing: 4px;
                }
                &-img {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                    width: 100%;
                    // height: 100%;
                  }
                }
              }
              &-slide1 {
                margin-right: 2%;
                margin-bottom: 2%;
                left: -1000px;
                top: -1000px;
              }
              &-slide2 {
                margin-left: 2%;
                margin-bottom: 2%;
                right: -1000px;
                top: -1000px;
              }
              &-slide3 {
                margin-right: 2%;
                margin-top: 2%;
                left: -1000px;
                bottom: -1000px;
              }
              &-slide4 {
                margin-left: 2%;
                margin-top: 2%;
                right: -1000px;
                bottom: -1000px;
              }
            }
          }
        }
      }
      &-wrapper2 {
        width: 100%;
        height: 2000px;
        &-main {
          width: 100%;
          height: 100vh;
          background-color: rgb(156, 33, 156);
          position: sticky;
          top: 0;
          &-ob {
            width: 100px;
            height: 100px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
          }
          &-slide {
            width: 100px;
            height: 100px;
            background-color: rgb(73, 64, 174);
            position: absolute;
            left: -200px;
            top: -50px;
            transition: all 0.3s;
          }
        }
      }
    }
  }
  &::-webkit-scrollbar {
    width: 0px;
    background-color: rgb(87, 155, 58);
  }
  &::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
    background-color: rgb(42, 2, 2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(27, 50, 197);
    border-radius: 5px;
  }
}
