.page-structure {
  width: 100%;
  margin-top: 24px;
  overflow-y: hidden;
  padding: 0;
  &-create {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
    user-select: none;
    font-size: 18px;
    padding: 10px 0;
    &:hover {
      background-color: rgb(60, 60, 60);
    }
  }
  &-wrapper {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    &-item {
      width: 100%;
      padding: 0.5rem 0;
      display: flex;
      justify-content: center;
      font-size: 18px;
      cursor: pointer;
      transition: all 0.3s;
      border-radius: 4px;
      user-select: none;
      &:hover {
        background-color: rgb(60, 60, 60);
      }
    }
  }
}
.selected {
  background-color: rgb(50, 50, 50);
}
