$height: 50px;

.head {
  width: 100%;
  height: $height;
  background-color: rgb(32, 32, 32);
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  &-title {
    width: 15%;
    height: 80%;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    &-input {
      width: 100%;
      height: 100%;
      font-size: 20px;
      // color: rgb(134, 134, 134);
      padding-top: 0.3rem;
      outline: none;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid rgb(104, 104, 104);
    }
    .bar {
      width: 0;
      height: 1.5px;
      transition: all 0.3s;
      transform: translateY(-1px);
    }
    .show-bar {
      width: 100%;
      background-color: #fff;
    }
  }
  .device {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .etc {
    width: 25%;
    display: flex;
    justify-content: center;
    // height: 100%;
  }
  .btn {
    width: 50px;
    height: 50px;
    font-size: 16px;
    padding: 0;
    outline: none;
    transition: all 0.1s;
    &:active {
      transform: scale(95%);
    }
  }
  .clear {
    width: 50px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    margin-left: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.1s;
    user-select: none;
    &:active {
      transform: scale(95%);
    }
  }
}
